// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "~bootstrap/scss/bootstrap";


// Then add additional custom code here

.fullpage{
    // height: 1024px ;
    // width: 100%;
    background-color: #F49586;
}

.top{
    background-color: white;
    // height: 35.84% ;
    padding-top:5%;
    padding-left:10%;
}

.bottom{
    background-color: #F49586;
    // height: 100% ;
}

.icon{
    width: 40px;
    height: 40px;
    filter: invert(94%) sepia(100%) saturate(0%) hue-rotate(235deg) brightness(105%) contrast(100%);
}

.icon-big{
    width: 60%;
    margin-left: 20%;
    max-width: 70%;
    // transform: translate(-50%, -50%) ;
}

.row-contact{
    height: 80px;
    width: 100%;
}

.debug{
    
    background: yellow;
}

.fill{
    height: 100%;
}
.fill-horizontal{
    width: 100%;
}

.link {
    font-family: "Lato-Regular";
    font-size: 1.2rem;
    letter-spacing: 3px;
    color: white;
}

.title {
    font-family: "Lato-Regular";
    letter-spacing: 5px;
    font-size: 48px;
    color: #5f5a5f;
    margin-top: 5%;
}

.subtitle {
    font-family: "Lato-Light";
    font-size: 44px;
    letter-spacing: 2px;
    color: #5f5a5f;
    margin-left: 20%;
}

.intro {
    font-family: "Lato-Light";
    font-size: 96pt;
    color: white;
    width: 100%;
}

.smiley {
    font-family: "Overlock-Regular";
    font-size: 96pt;
    color: white;
    width: 100%;
}

@font-face{
    font-family: Lato-Light;
    src: url(../static/Lato-Light.ttf);
}

@font-face{
    font-family: Lato-Regular;
    src: url(../static/Lato-Regular.ttf);
}

@font-face{
    font-family: Overlock-Regular;
    src: url(../static/Overlock-Regular.ttf);
}